//fonts
$h72: 72px;
$h46: 46px;
$h36: 36px;
$h30: 30px;
$h24: 24px;
$h22: 22px;
$h20: 20px;
$h18: 18px;
$h15: 15px;
//colors
$white: #ffffff;
$black: #000000;
$main-color: #9f9acf;
$main-color-opaciti: rgba(159, 154, 207, 0.9);
$grey: #dbdbdb;
$services-color: rgb(193, 191, 217);
$bg-light-grey: #ebebeb;
$bg-light-grey-opaciti: rgba(235, 235, 235, 0.5);
$recent-works-bg: #b0add1;
$first-screen-bg: rgba(176, 170, 197, 0.5);
$card-subtitle: #665f60;