.first-screen {
    min-height: 100vh;
    @include flex(center, center);
    background: linear-gradient($first-screen-bg, $first-screen-bg), url("../../assets/bg-first-screen.png") no-repeat center center;
    background-size: cover;
    flex: 1;
    &__header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    &__content {
        text-align: center;
    }
    &__title {
        @include text($h72,
        700);
        text-transform: uppercase;
        margin-bottom: 39px;
        @media screen and (max-width: 320px) {
            @include text($h30, 700);
        }
    }
    &__subtitle {
        @include text($h30,
        300);
        font-style: italic;
    }
}