.the-about {
    @include flex();
    padding: 124px 0;
    @media screen and (max-width: 500px) {
        @include flex(center, center, column);
        padding: 50px 0;
    }
    &__title-wrapper {
        padding-top: 76px;
        text-align: center;
        min-width: 34%;
        min-height: 557px;
        background: linear-gradient($first-screen-bg, $first-screen-bg), url("../../assets/bg-about.png") no-repeat;
        background-size: cover;
        background-position: -63px 0;
        @include text($h46);
        @media screen and (max-width: 500px) {
            padding-top: 15px;
            margin-bottom: 50px;
            width: 100%;
            min-height: 357px;
        }
    }
    &__img {
        margin-bottom: 44px;
    }
    &__description {
        @include flex(start,
        center,
        column);
        padding: 79px 34px 0 124px;
        span {
            margin-bottom: 20px;
        }
        span:last-of-type {
            margin-bottom: 70px;
        }
        @media screen and (max-width: 500px) {
            padding: 0;
        }
    }
}